.layout-default {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  padding: 40px;
  box-sizing: border-box;
}

.layout-default__links {
  width: 100%;
  max-width: 1300px;

  display: flex;
  justify-content: space-between;
}

.layout-default__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
