.vk-button__input {
  display: flex;

  align-items: center;
  color: #4680c2;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  padding-right: 20px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.vk-button {
  margin-top: 20px;
  text-align: center;
}

.vk-button__input-icon {
  margin-right: 10px;
  width: 60px;
}
